* {
    font-family: 'Lato', Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    scroll-behavior: smooth;
}

html,
body {
    color: black;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.12rem;
    word-spacing: 0.16rem;
}

body {
    display: grid;
    position: relative;
    width: 100%;
    height: -webkit-fill-available;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}

main{
    display: flex;
    width: 100%;
}
ul li{
    list-style-type: none;
}

.alert-success{
    color: white;
    background-color: #4BB453;
    border-radius: 4%;
    font-style: normal;
    font-size: 0.9rem;
    margin-top: 2px;
    text-align: center;
    padding: 5px;
    font-weight: normal;
    display: block;
    position: unset;
    top: 0px;
    
}