:root {
  --purple: #6E41E2;
}

* {
  font-family: 'Lato', sans-serif, 'Courier';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.p415-main-section {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: minmax(2rem, 8rem) 1px minmax(5rem, auto);
  padding-left: 5rem;
}

.p415-main-section #p415-schedule-head {
  font-size: 2rem;
  padding-top: 3rem;
  margin-top: 0rem;
  align-self: center;
}

.p415-main-section hr {
  width: 80%;
  border: none;
  background-color: #D2D2D2;
  border: 1px solid #D2D2D2;
}

.p415-main-section .p415-active-sessions {
  padding-top: 1rem;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.p415-active-sessions .p415-session-card {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
  width: 16.1rem;
  box-shadow: 0px 4px 13px lightgrey;
  line-height: 1rem;
  align-items: center;
  padding-left: 1rem;
  align-content: flex-start;
  padding-top: 1.3rem;
  margin: 0rem 2rem 1rem 0rem;
  height: 13rem;
  color: white;
  background-color: var(--purple);
  border-radius: 8px;
}

.p415-session-card .p415-session-status {
  padding: 1rem 1.1rem;
  height: 2rem;
  display: flex;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  background-color: white;
  color: var(--purple);
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  position: relative;
  right: 0.5rem;
}

.p415-session-card .p415-session-year {
  width: 100%;
  margin-bottom: 1rem;
  font-weight: bold;
}

.p415-session-card .p415-school-name {
  width: 100%;
  display: flex;
  height: 1.5rem;
  align-items: center;
  margin-top: 3rem;
}

.p415-school-name .fa-graduation-cap {
  color: white;
  width: 20%;
}

.p415-school-name p {
  width: 80%;
  text-transform: uppercase;
}