:root{
    --grey: #D2D2D2;
    --lightblack: rgba(0, 0, 0, 0.5);
}
* {
    font-family: 'Lato', sans-serif, 'Courier';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.p415-main-section {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: minmax(2rem, 8rem) 1px minmax(5rem, auto);
    padding-left: 2rem;
}

.p415-main-section #p415-schedule-head {
    font-size: 2rem;
    padding-top: 3rem;
    margin-top: 0rem;
    align-self: center;
}

.p415-main-section hr {
    width: 95%;
    border: none;
    background-color: var(--grey);
    border: 1px solid var(--grey);
}

.p415-main-section .p415-session-info{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    min-height: 1rem;
    justify-content: center;
    align-items: center;
}
.p415-main-section .p415-session-info label{
    position: absolute;
    visibility: hidden;
}
/* Disable scroll function for input number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.p415-session-info input[type="number"], .p415-session-info #p415-semesters{
    display: inline-block;
    padding-left: 1rem;
    height: 2.1rem;
    margin: 1rem 1rem;
    border: none;
    width: 10rem;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 24px rgba(51, 51, 51, 0.24);
}
.p415-session-info input[type="number"], .p415-session-info #p415-semesters{
    margin-left: 0;
}
.p415-session-info input[type="submit"]{
    width: 7rem;
    height: 2rem;
    background-color: #10CD45;
    border: none;
    color: white;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgb(141 139 139 / 4%), 0px 4px 17px rgb(159 159 159 / 24%);
}
.p415-main-section .p415-table-container{
    width: 100%;
    margin-top: 6rem;
}
.p415-table{
    display: flex;
    border: 1px solid var(--grey);
    width: 95%;
}
.p415-table div{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    justify-content: flex-start;
    align-items: flex-start;
}
.p415-table div p {
    border-bottom: 1px solid var(--grey);
    width: 80%;
    font-size: 0.85rem;
    color: black;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.p415-table div p:nth-child(1) {
    color: var(--lightblack);
    font-size: 0.95rem;
}
.p415-table div:nth-child(2){
    justify-content: center;
}
.p415-table div:nth-child(3){
    justify-content: flex-end;
    width: 30%;
}

@media screen and (min-width: 40rem){
    .p415-session-info input[type="submit"]{
        margin: 0;
    }
}